%tr.animated.fadeInDown{data: { id: journal_entry.id } }
  %td.font-bold= link_to journal_entry.id, [@journal_entry_session, journal_entry]
  %td= journal_entry.happened_at
  %td= journal_entry.amount
  %td= journal_entry.from_account.try(:name)
  %td= journal_entry.to_account.try(:name)
  %td Nothing here yet!
