.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h2= @branch.name
        .ibox-content
          .col-md-2
            %p.font-bold Name
          .col-md-10
            %p.font-bold= @branch.name
          %br
          .col-md-2
            %p.font-bold Address
          .col-md-10
            %p= @branch.address
          %br
          .col-md-2
            %p.font-bold Description
          .col-md-10
            %p= @branch.description
          %br
          .clearfix
  .row
    .col-lg-12
      - if can? :edit, Branch
        = link_to "Edit", edit_branch_path(@branch), class: "btn btn-primary btn-rounded"
      - if can? :index, Branch
        = link_to "All Branches", branches_path, class: "btn btn-primary btn-rounded"
