.row.m-t-xs.form-inline.m-l-xs
  = f.label :allowance_type_id, 'Allowance Type', class: 'control-label'
  = f.select :allowance_type_id, options_for_select(AllowanceType.all.map { |a| [a.name, a.id] }, selected: f.object.allowance_type_id), {}, class: 'form-control input-sm'
  .input-group.date
    %span.input-group-addon
      %i.fa.fa-calendar
    = f.text_field :starts_from, class: 'form-control allowance-start input-group date', placeholder: 'Starts from'
  .input-group.date
    %span.input-group-addon
      %i.fa.fa-calendar
    = f.text_field :ends_at, class: 'form-control allowance-end input-group date', placeholder: 'Ends at'

  = f.link_to_remove 'Remove', class: 'btn btn-outline btn-danger btn-xs m-l-sm m-t-sm'
