.row.form-inline
  = f.label :attachment_type_id, 'Attachment Type'
  - if f.object.attachment_type_id.is_a? Integer
    = f.select :attachment_type_id, options_for_select(AttachmentType.pluck(:name, :id), selected: f.object.attachment_type_id), {}, class: 'form-control input-sm', disabled: true
  - elsif @attachment_type_ids.blank?
    = f.select :attachment_type_id, options_for_select(AttachmentType.pluck(:name, :id)), {}, class: 'form-control input-sm'
  - else
    = f.select :attachment_type_id, options_for_select(@attachment_type_names_and_ids), {}, class: 'form-control input-sm'
  - if f.object.image?
    .fileinput.fileinput-exists{ data: { provides: "fileinput" } }
      %span.btn.btn-default.btn-file
        %span.fileinput-new Select File
        %span.fileinput-exists Change
        = f.file_field :image, class: 'form-control'
      %span.fileinput-filename= f.object.image_file_name
  - else
    .fileinput.fileinput-new{ data: { provides: "fileinput" } }
      %span.btn.btn-default.btn-file
        %span.fileinput-new Select File
        %span.fileinput-exists Change
        = f.file_field :image, class: 'form-control'
      %span.fileinput-filename
  = f.link_to_remove 'Remove', class: 'btn btn-outline btn-danger btn-xs m-l-sm m-t-sm'
