= nested_form_for employee, html: { class: "form-horizontal", id: "manageEmployee" } do |f|
  = render "shared/errors", resource: employee
  %h3 Basic Info
  .form-group
    = f.label :first_name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :first_name, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :last_name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :last_name, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :email, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.email_field :email, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :phone_number, 'Mobile No.', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.phone_field :phone_number, class: 'form-control', data: { mask: "9999999999" }
  .hr-line-dashed
  .form-group
    = f.label :address, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :address, class: 'form-control'
  .hr-line-dashed
  %h3 Employment Info
  .form-group
    = label_tag :future, "Future Employee", class: "col-sm-2 control-label"
    .col-sm-10.future-checkbox
      = f.check_box :future, {}, true
  .hr-line-dashed
  .form-group
    = f.label :branch_id, "Choose Branch", class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :branch_id, options_for_select(Branch.all.map { |b| [b.name, b.id] }, selected: employee.branch_id), { prompt: "Please choose branch." }, class: "form-control"
  .hr-line-dashed
  .form-group
    = f.label :date_of_joining, 'Date of joining', class: 'col-sm-2 control-label'
    .col-sm-2.input-group.date.m-r-md
      %span.input-group-addon
        %i.fa.fa-calendar
      = f.text_field :date_of_joining, class: 'form-control input-group date', id: "dateOfJoining"
    .date-error
      = label_tag :dateOfJoining, '', class: 'error', id: 'dateOfJoining-error'
  .hr-line-dashed
  .form-group
    = f.label :nationality, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :nationality, Employee::NATIONALITIES, { selected: employee.nationality, prompt: "Please choose nationality." }, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :passport_no, 'Passport No.', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :passport_no, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :passport_expiry, 'Passport Expiry', class: 'col-sm-2 control-label'
    .col-sm-2.input-group.date.m-r-md
      %span.input-group-addon
        %i.fa.fa-calendar
      = f.text_field :passport_expiry, class: 'form-control input-group date', id: "passportExpiry"
    .date-error
      = label_tag :passportExpiry, '', class: 'error', id: 'passportExpiry-error'
  .hr-line-dashed
  .form-group
    = f.label :visa_no, 'Visa No.', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :visa_no, class: 'form-control', data: { mask: "999999999999" }
  .hr-line-dashed
  .form-group
    = f.label :id_no, 'ID No.', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :id_no, class: 'form-control', data: { mask: "99999999999" }
  .hr-line-dashed
  .form-group
    = f.label :visa_expirty, 'Visa Expiry', class: 'col-sm-2 control-label'
    .col-sm-2.input-group.date.m-r-md
      %span.input-group-addon
        %i.fa.fa-calendar
      = f.text_field :visa_expiry, class: 'form-control input-group date', id: "visaExpiry"
    .date-error
      = label_tag :visaExpiry, '', class: 'error', id: 'visaExpiry-error'
  .hr-line-dashed
  .form-group
    = f.label :medical_expiry, 'Medical Expiry', class: 'col-sm-2 control-label'
    .col-sm-2.input-group.date.m-r-md
      %span.input-group-addon
        %i.fa.fa-calendar
      = f.text_field :medical_expiry, class: 'form-control input-group date', id: "medicalExpiry"
    .date-error
      = label_tag :medicalExpiry, '', class: 'error', id: 'medicalExpiry-error'
  .hr-line-dashed
  .form-group
    = f.label :appointment_date, 'Medical appointment date', class: 'col-sm-2 control-label'
    .col-sm-2.input-group.date.m-r-md
      %span.input-group-addon
        %i.fa.fa-calendar
      = f.text_field :appointment_date, class: 'form-control input-group date', id: "appointmentDate"
    .date-error
      = label_tag :appointmentDate, '', class: 'error', id: 'appointmentDate-error'
  .hr-line-dashed
  .form-group
    = label_tag :department, 'Choose department', class: "col-sm-2 control-label"
    .col-sm-10
      = select_tag :department, options_for_select(departments.map { |d| [d.name, d.id]}, selected: employee.department.try(:id)), class: "form-control", id: "departmentSelect"
  .hr-line-dashed
  .form-group
    = f.label :job_title, 'Job Title', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :job_title_id, options_for_select(job_titles.map { |j| [j.name, j.id] }, selected: employee.job_title_id), { prompt: "Please choose job title." }, class: 'form-control', id: "jobTitleSelect"
  .hr-line-dashed
  .form-group
    = label_tag :vacations, "Vacations", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.fields_for :vacations do |vacation_field|
        = render 'vacation', f: vacation_field
      = f.link_to_add :vacations, class: 'btn btn-primary m-t-xs' do
        %i.fa.fa-plus-circle
        %span.bold Add a new Vacation
  .hr-line-dashed
  .form-group
    = label_tag :attachments, "Attachments", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.fields_for :attachments do |attachment_field|
        = render 'attachment', f: attachment_field
      = f.link_to_add :attachments, class: 'btn btn-primary m-t-xs' do
        %i.fa.fa-plus-circle
        %span.bold Add a new attachment
  .hr-line-dashed
  %h3 Salary
  .form-group
    = f.fields_for :salary do |salary_field|
      = render 'salary', f: salary_field
  .hr-line-dased
  .form-group
    .col-sm-4.col-sm-offset-2
      = f.submit "Save", class: "btn btn-primary"
      = link_to "Cancel", employees_path, class: "btn btn-primary"
