.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      - if can? :new, Employee
        = link_to new_employee_path, class: "btn btn-primary btn-rounded m-sm pull-right" do
          %i.fa.fa-plus{"aria-hidden" => true}
          &nbsp;&nbsp; New Employee
        = form_tag download_pdf_employees_path, method: "get", id: "pdfForm" do
          = hidden_field_tag 'format', 'pdf'
          = hidden_field_tag 'type', 'Current', id: "downloadValue"
          = submit_tag 'Download PDF', class: "btn btn-primary btn-rounded m-sm pull-right", id: "pdfDownload"
      .ibox.float-e-margins
        .ibox-title.p-sm
          = radio_button_tag :employee, "Current", true, id: "currentEmployees", class: "employee-display"
          = label_tag :currentEmployees, "Current Employees"
          = radio_button_tag :employee, "Past", false, id: "terminatedEmployees", class: "employee-display"
          = label_tag :terminatedEmployees, "Terminated(past) Employees"
          = radio_button_tag :employee, "Future", false, id: "futureEmployees", class: "employee-display"
          = label_tag  :futureEmployees, "Future Employees"
          .form-group.pull-right.m-t-n-xs
            = text_field_tag :search, nil, class: "form-control", id: "searchEmployees"
          .pull-right.m-r-md.m-t-xxs
            = label_tag :search
        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-striped.pretty.employeeTable
              %thead
                %tr 
                  - if can? :show, Employee
                    %th= sortable "id", "ID"
                  %th Profile Picture
                  %th= sortable "first_name"
                  %th= sortable "last_name"
                  %th= sortable "phone_number"
                  %th= sortable "visa_expiry"
                  %th= sortable "medical_expiry"
                  %th= sortable "passport_expiry"
                  %th= sortable "branch_id", "Branch Name"
                  - if can?(:edit, Employee) || can?(:destroy, Employee)
                    %th Actions
              %tbody
                - @employees.each do |employee|
                  %tr{data: { id: employee.id }, class: "employees #{get_class_for_employee(employee)} #{'hidden' if employee.not_current?}"}
                    - if can? :show, Employee
                      %td= link_to employee.id, employee
                    - if employee.profile_image
                      %td= image_tag employee.profile_image.image.url(:thumb)
                    - else
                      %td No image
                    %td.first-name= employee.first_name
                    %td.last-name= employee.last_name
                    %td= employee.phone_number
                    %td= employee.visa_expiry.try(:strftime, "%b %d, %Y")
                    %td= employee.medical_expiry.try(:strftime, "%b %d, %Y")
                    %td= employee.passport_expiry.try(:strftime, "%b %d, %Y")
                    %td= employee.branch.try(:name)
                    - if can?(:edit, Employee) || can?(:destroy, Employee)
                      %td
                        - if can? :destroy, Employee
                          = link_to employee, method: :delete, remote: true, data: { confirm: "Are you sure to delete this employee from database?" }, class: "action-link" do
                            %i.fa.fa-trash{"aria-hidden" => true}
                        - if can? :edit, Employee
                          = link_to edit_employee_path(employee), class: "action-link" do
                            %i.fa.fa-pencil{"aria-hidden" => true}
