.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      = render 'shared/flash_messages'
      .ibox.float-e-margins
        .ibox-title
          %h2=@employee.full_name
        .ibox-content
          .row
            .col-md-2 
              %p.font-bold First Name
            .col-md-10
              %p= @employee.first_name
          .row
            .col-md-2
              %p.font-bold Last Name
            .col-md-10
              %p= @employee.last_name
          .row
            .col-md-2
              %p.font-bold Username
            .col-md-10
              %p= @employee.username
          .row
            .col-md-2
              %p.font-bold Address
            .col-md-10
              %p= @employee.address
          .row
            .col-md-2
              %p.font-bold Email
            .col-md-10
              %p= @employee.email
          .row
            .col-md-2
              %p.font-bold Phone number
            .col-md-10
              %p= @employee.phone_number
          .row
            .col-md-2
              %p.font-bold Nationality
            .col-md-10
              %p= @employee.nationality
          .row
            .col-md-2
              %p.font-bold Passport No.
            .col-md-10
              %p= @employee.passport_no
          .row
            .col-md-2
              %p.font-bold Passport Expiry
            .col-md-10
              %p= @employee.passport_expiry
          .row
            .col-md-2
              %p.font-bold Visa No.
            .col-md-10
              %p= @employee.visa_no
          .row
            .col-md-2
              %p.font-bold Visa Expiry
            .col-md-10
              %p= @employee.visa_expiry
          .row
            .col-md-2
              %p.font-bold Department
            .col-md-10
              %p= @employee.department_name
          .row
            .col-md-2
              %p.font-bold Job Title
            .col-md-10
              %p= @employee.job_title.name
          .row
            .col-md-2
              %p.font-bold Salary
            .col-md-10
              %p= @employee.salary.total_amount
          .row
            .col-md-2
              %p.font-bold Allowances
            .col-md-10
              %dl
                %dt Applicable Allowances
                %dd
                  %dl.m-l-sm
                    - @employee.applicable_allowances.each do |allowance|
                      %dt= allowance.name
                      %dd
                        %span Lump sum amount:
                        %span.font-bold
                          = allowance.lump_sum_amount
                        %span & Expires at:
                        %span.font-bold
                          = allowance.ends_at.to_s
              %dl
                %dt Expired Allowances
                %dd
                  %dl.m-l-sm
                    - @employee.expired_allowances.each do |allowance|
                      %dt= allowance.name
                      %dd
                        %span Lump sum amount:
                        %span.font-bold
                          = allowance.lump_sum_amount
                        %span & Expired at:
                        %span.font-bold
                          = allowance.ends_at.to_s
          .clearfix
  .row
    .col-lg-12
      = link_to "Edit", edit_employee_path(@employee), class: "btn btn-primary btn-rounded"
      = link_to "All Employees", employees_path, class: "btn btn-primary btn-rounded"
