.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h2=@employee.full_name
        .ibox-content
          .row
            .col-md-2
              %p.font-bold Associated User
            .col-md-10
              .row
                .col-md-5
                  %p.font-bold Username
                .col-md-7
                  %p= @employee.user.try(:username)
              .row
                .col-md-5
                  %p.font-bold Temporary Password
                - if @employee.user.try(:temp_password_changed?)
                  .col-md-7
                    %del= @employee.user.try(:temp_password)
                    %span (Doesn't work any more.)
                - else
                  .col-md-7
                    %p= @employee.user.try(:temp_password)
              .row
                .col-md-5
                  %p.font-bold Has the user changed the temporary password?
                .col-md-7
                  %p= @employee.user.try(:temp_password_changed?)? "Yes" : "No"
          .hr-line-dashed
          .row
            .col-md-2 
              %p.font-bold First Name
            .col-md-10
              %p= @employee.first_name
          .row
            .col-md-2
              %p.font-bold Last Name
            .col-md-10
              %p= @employee.last_name
          .row
            .col-md-2
              %p.font-bold Address
            .col-md-10
              %p= @employee.address
          .row
            .col-md-2
              %p.font-bold Email
            .col-md-10
              %p= @employee.email
          .row
            .col-md-2
              %p.font-bold Phone number
            .col-md-10
              %p= @employee.phone_number
          .row
            .col-md-2
              %p.font-bold Nationality
            .col-md-10
              %p= @employee.nationality
          .row
            .col-md-2
              %p.font-bold Branch
            .col-md-10
              %p= @employee.branch.try(:name)
          .row
            .col-md-2
              %p.font-bold Passport No.
            .col-md-10
              %p= @employee.passport_no
          .row
            .col-md-2
              %p.font-bold Joining Date
            .col-md-10
              %p= @employee.date_of_joining
          .row
            .col-md-2
              %p.font-bold Passport Expiry
            .col-md-10
              %p= @employee.passport_expiry
          .row
            .col-md-2
              %p.font-bold Visa No.
            .col-md-10
              %p= @employee.visa_no
          .row
            .col-md-2
              %p.font-bold Visa Expiry
            .col-md-10
              %p= @employee.visa_expiry
          .row
            .col-md-2
              %p.font-bold Department
            .col-md-10
              %p= @employee.department_name
          .row
            .col-md-2
              %p.font-bold Job Title
            .col-md-10
              %p= @employee.job_title.try(:name)
          .row
            .col-md-2
              %p.font-bold Salary
            .col-md-10
              %p= @employee.salary.try(:total_amount)
          .row
            .col-md-2
              %p.font-bold Allowances
            - if @employee.allowances.blank?
              .col-md-10
                %p This emlpoyee has got no allowances.
            - else
              .col-md-10
                %dl
                  %dt Applicable Allowances
                  %dd
                    %dl.m-l-sm
                      - @employee.applicable_allowances.each do |allowance|
                        %dt= allowance.name
                        %dd
                          %span Lump sum amount:
                          %span.font-bold
                            = allowance.lump_sum_amount
                          %span & Expires at:
                          %span.font-bold
                            = allowance.ends_at.to_s
                %dl
                  %dt Expired Allowances
                  %dd
                    %dl.m-l-sm
                      - @employee.expired_allowances.each do |allowance|
                        %dt= allowance.name
                        %dd
                          %span Lump sum amount:
                          %span.font-bold
                            = allowance.lump_sum_amount
                          %span & Expired at:
                          %span.font-bold
                            = allowance.ends_at.to_s
          .row
            .col-md-2
              %p.font-bold Attachments
            .col-md-10
              .row
              - if @employee.attachments.blank?
                %p There are currently no attachments.
              -else
                .col-md-3.font-bold Attachment Type
                .col-md-3.font-bold Attachment Name
                .col-md-3.font-bold Attachment Thumbnail
                .col-md-3.font-bold Download
                - @employee.attachments.each do |attachment|
                  .row
                    .col-md-3.font-bold= attachment.attachment_type.name
                    .col-md-3= attachment.image_file_name
                    .col-md-3.m-b-md{id: "links-#{attachment.id}"}
                      = link_to attachment.image.url do
                        = image_tag attachment.image.url(:thumb)
                    .col-md-3
                      = button_to attachment_employee_path(@employee, attachment), method: :get, class: "btn btn-primary" do
                        %i.fa.fa-download &nbsp;&nbsp;
                        %span.bold Download
          .clearfix
  .row
    .col-lg-12.m-b-xs
      - if can? :edit, Employee
        = link_to "Edit", edit_employee_path(@employee), class: "btn btn-primary btn-rounded"
      - if can? :index, Employee
        = link_to "All Employees", employees_path, class: "btn btn-primary btn-rounded"
#blueimp-gallery.blueimp-gallery
  .slides
  %h3.title
  = content_tag 'a', '‹', class: 'prev'
  = content_tag 'a', '›', class: 'next'
  = content_tag 'a', '×', class: 'close'
  = content_tag 'a', nil, class: 'play-pause'
  %ol.indicator
