= form_for allowance_type, html: { class: "form-horizontal" } do |f|
  = render "shared/errors", resource: allowance_type
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control', required: true
  .hr-line-dashed
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control', required: true
  .hr-line-dashed
  .form-group
    %label.col-sm-2.control-label Please choose currency
    .col-sm-10
      - if @currencies.present?
        - @currencies.each do |currency|
          .radio.radio-info.radio-inline
            = f.radio_button :currency_id, currency.id, id: "inlineRadio#{currency.id}", required: true
            = f.label :currency_id, currency.name, for: "inlineRadio#{currency.id}"
      - else
        %p= "Please create currencies first from #{link_to 'settings', currencies_path}.".html_safe
  .form-group
    = f.label :lump_sum_amount, 'Lump sum amount', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :lump_sum_amount, class: 'form-control', required: true
  .form-group
    .col-sm-4.col-sm-offset-2
      = f.submit "Save", class: "btn btn-primary"
