= form_for allowance_type, html: { class: "form-horizontal" } do |f|
  = render "shared/errors", resource: allowance_type
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :percentage_of_basic_salary, 'Percentage of Basic Salary', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :percentage_of_basic_salary, class: 'form-control'
  .hr-line-dashed
  .form-group
    .col-sm-4.col-sm-offset-2
      = f.submit "Save", class: "btn btn-primary"
