.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      = render 'shared/flash_messages'
      .ibox.float-e-margins
        .ibox-title
          %h2=@allowance_type.name
        .ibox-content
          .col-md-2
            %p.font-bold Name
          .col-md-10
            %p= @allowance_type.name
          %br
          .col-md-2
            %p.font-bold Description
          .col-md-10
            %p= @allowance_type.description
          %br
          .col-md-2
            %p.font-bold Lump sum amount
          .col-md-10
            %p.font-bold= number_to_currency @allowance_type.lump_sum_amount, unit: ""
          %br
          .clearfix
  .row
    .col-lg-12
      = link_to "Edit", edit_allowance_type_path(@allowance_type), class: "btn btn-primary btn-rounded"
      = link_to "All Currencies", allowance_types_path, class: "btn btn-primary btn-rounded"
