.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h2=@currency.name
        .ibox-content
          .col-md-2
            %p.font-bold Name
          .col-md-10
            %p= @currency.name
          %br
          .col-md-2
            %p.font-bold Code
          .col-md-10
            %p= @currency.code
          %br
          .col-md-2
            %p.font-bold Symbol
          .col-md-10
            %p= @currency.symbol
          %br
          .col-md-2
            %p.font-bold Country
          .col-md-10
            %p= @currency.country
          %br
          .clearfix
  .row
    .col-lg-12
      - if can? :edit, Currency
        = link_to "Edit", edit_currency_path(@currency), class: "btn btn-primary btn-rounded"
      - if can? :index, Currency
        = link_to "All Currencies", currencies_path, class: "btn btn-primary btn-rounded"
