.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title.font-bold All Notifications
        .ibox-content
          .notification
            - @notifications.each do |notification|
              %span
                = link_to notification.generator.full_name, notification.generator.employee
              = link_to notification.leave_application do
                %u= " " + notification.content
              %br
              %small.text-muted
                = time_ago_in_words(notification.created_at) + " ago at "
                = notification.created_at.strftime("%l:%M %p - %d.%m.%Y")
              .pull-right
                - if notification.leave_application.approved? || notification.leave_application.denied?
                  - if notification.leave_application.approved?
                    %span.label.label-primary Approved
                  - else
                    %span.label.label-danger Denied
                - else
                  = link_to "Approve", "", class: "btn btn-sm btn-primary leave-approve", data: { style: "zoom-in", leave_application_id: notification.leave_application_id }
                  = link_to "Deny", "", class: "btn btn-sm btn-danger leave-deny", data: { style: "zoom-in", leave_application_id: notification.leave_application_id }
              %hr
