= form_for @user, html: { class: "form-horizontal" } do |f|
  = render "shared/errors", resource: @user
  .form-group
    = f.label :employee_id, 'Choose an Employee', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :employee_id, options_for_select(@employees.map { |e| [e.full_name, e.id] }), { prompt: "Please choose an employee.", selected: @user.employee_id }, class: 'form-control', required: true
  .hr-line-dashed
  .form-group
    = f.label :username, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :username, class: 'form-control', required: true, id: 'userCreationUsername'
  - if %w(new create).include? action_name
    .form-group
      = f.label :password, class: 'col-sm-2 control-label'
      .col-sm-5
        = f.text_field :password, value: nil, class: 'form-control', id: "userCreationPasswordField", required: true, disabled: true
      .col-sm-5.m-t-xs
        = check_box_tag :auto_generate, nil, true, id: "autoGenerateUserPassword"
        = label_tag :auto_generate, "Auto Generate the password", class: "m-l-sm"
  .form-group
    = f.label :role_id, "Role", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :role_id, options_for_select(@roles.pluck(:name, :id)), { prompt: "Please select a role" }, class: 'form-control', required: true
  .form-group
    = f.label :date_of_joining, 'Date of joining', class: 'col-sm-2 control-label'
    .col-sm-2.input-group.date.m-r-md
      %span.input-group-addon
        %i.fa.fa-calendar
      = f.text_field :date_of_joining, class: 'form-control input-group date', id: "dateOfJoining"
    .date-error
      = label_tag :dateOfJoining, '', class: 'error', id: 'dateOfJoining-error'
  .form-group
    = label_tag :future, "Future User", class: "col-sm-2 control-label"
    .col-sm-10.future-checkbox
      = f.check_box :future, {}, true
  .form-group
    .col-sm-4.col-sm-offset-2
      = f.submit "Save User", class: "btn btn-primary"
      = link_to "Cancel", users_path, class: "btn btn-primary"
