.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h2=@user.employee.try(:full_name)
        .ibox-content
          .row
            .col-md-2
              %p.font-bold Username
            .col-md-10
              %p= @user.username
          .row
            .col-md-2
              %p.font-bold Role
            .col-md-10
              %span.label.label-primary= @user.role.try(:name)
          - if @user.temp_password?
            .row
              .col-md-5
                %p.font-bold Temporary Password
              - if @user.temp_password_changed?
                .col-md-7
                  %del= @user.temp_password
                  %span (Doesn't work any more.)
              - else
                .col-md-7
                  %p= @user.temp_password
            .row
              .col-md-5
                %p.font-bold Has the user changed the temporary password?
              .col-md-7
                %p= @user.temp_password_changed? ? "Yes" : "No"
          .row
            .col-md-2
              %p.font-bold Future User
            .col-md-10
              - if @user.temp_password_changed?
                %i.fa.fa-check{"aria-hidden" => true}
              - else
                %i.fa.fa-times{"aria-hidden" => true}
          .row
            .col-md-2
              %p.font-bold Joining Date
            .col-md-10
              %p= @user.date_of_joining.try(:strftime, "%b %d, %Y")
          .hr-line-dashed
          .row
            .col-md-2
              %p.font-bold Associated Employee
            .col-md-10
              %p.font-bold= link_to @user.employee.try(:full_name), @user.employee
          .clearfix
  .row
    .col-lg-12.m-b-xs
      - if can? :edit, User
        = link_to "Edit", edit_user_path(@user), class: "btn btn-primary btn-rounded"
      - if @user.terminated?
        - if can? :unterminate, User
          = link_to "Unterminate", "", class: "btn btn-primary btn-rounded unterminate-user", data: { user_id: @user.id, style: "zoom-in", confirm: "Are you sure you want to unterminate this user?" }
      - else
        - if can? :terminate, User
          = link_to "Terminate", "" ,class: "btn btn-danger btn-rounded terminate-user", data: { user_id: @user.id, style: "zoom-in", confirm: "Are you sure you want to terminate this user?" }
      - if can? :index, Employee
        = link_to "All Users", users_path, class: "btn btn-primary btn-rounded pull-right"
