.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      - if can? :new, Department
        = link_to new_department_path, class: "btn btn-primary btn-rounded m-sm pull-right" do
          %i.fa.fa-plus{"aria-hidden" => true}
          &nbsp;&nbsp; New Department
      .ibox.float-e-margins
        .ibox-title All Departments
        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-striped.pretty
              %thead
                %tr
                  - if can? :show, Department
                    %th= sortable "id", "ID"
                  %th= sortable "name"
                  %th= sortable "description"
                  - if can?(:destroy, Department) || can?(:edit, Department)
                    %th Actions
              %tbody
                - @departments.each do |department|
                  %tr{data: { id: department.id } }
                    - if can? :show, Department
                      %td= link_to department.id, department
                    %td= department.name
                    %td= department.description
                    - if can?(:destroy, Department) || can?(:edit, Department)
                      %td
                        - if can? :destroy, Department
                          = link_to department, method: :delete, remote: true, data: { confirm: "Are you sure to delete this department from database?" }, class: "action-link" do
                            %i.fa.fa-trash{"aria-hidden" => true}
                        - if can? :edit, Department
                          = link_to edit_department_path(department), class: "action-link" do
                            %i.fa.fa-pencil{"aria-hidden" => true}
