= form_for account_type, html: { class: "form-horizontal" } do |f|
  = render "shared/errors", resource: account_type
  .form-group
    = label_tag :account_header, "Account Header", class: "col-sm-2 control-label"
    .col-sm-10
      = select_tag :account_header, options_for_select(AccountMainType.pluck(:name, :id), selected: account_type.account_main_type.try(:id)), class: "form-control", id: "accountHeaderSelectTag", prompt: "Please choose account header."
  .hr-line-dashed
  .form-group
    = f.label :acount_sub_type_id, "Sub Category", class: "col-sm-2 control-label"
    .col-sm-10
      = f.select :account_sub_type_id, AccountSubType.pluck(:name, :id), { prompt: "Please choose account sub header." }, class: "form-control", id: "accountSubTypeSelectTag"
  .hr-line-dashed
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-group
    .col-sm-4.col-sm-offset-2
      = f.submit "Save", class: "btn btn-primary"
      = link_to "Cancel", account_types_path, class: "btn btn-primary"
