.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      - if can? :new, JobTitle
        = link_to new_job_title_path, class: "btn btn-primary btn-rounded m-sm pull-right" do
          %i.fa.fa-plus{"aria-hidden" => true}
          &nbsp;&nbsp; New Job Title
      .ibox.float-e-margins
        .ibox-title All Job Titles
        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-striped.pretty
              %thead
                %tr
                  - if can? :show, JobTitle
                    %th= sortable "id", "#"
                  %th= sortable "name"
                  %th= sortable "description"
                  %th= sortable "department_id", "Department"
                  - if can?(:edit, JobTitle) || can?(:destroy, JobTitle)
                    %th Actions
              %tbody
                - @job_titles.each do |job_title|
                  %tr{data: { id: job_title.id } }
                    - if can? :show, JobTitle
                      %td= link_to job_title.id, job_title
                    %td= job_title.name
                    %td= job_title.description
                    %td= job_title.department_name
                    - if can?(:edit, JobTitle) || can?(:destroy, JobTitle)
                      %td
                        - if can? :destroy, JobTitle
                          = link_to job_title, method: :delete, remote: true, data: { confirm: "Are you sure to delete this job title from database?" }, class: "action-link" do
                            %i.fa.fa-trash{"aria-hidden" => true}
                        - if can? :edit, JobTitle
                          = link_to edit_job_title_path(job_title), class: "action-link" do
                            %i.fa.fa-pencil{"aria-hidden" => true}
