.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h2=@job_title.name
        .ibox-content
          .col-md-2
            %p.font-bold Name
          .col-md-10
            %p= @job_title.name
          %br
          .col-md-2
            %p.font-bold Description
          .col-md-10
            %p= @job_title.description
          %br
          %br
          - if can? :show, Department
            .col-md-2
              %p.font-bold Department
            .col-md-10
              = link_to @job_title.department do
                %p
                  %span.label.label-primary= @job_title.department_name
            %br
          .clearfix
  .row
    .col-lg-12
      - if can? :edit, JobTitle
        = link_to "Edit", edit_job_title_path(@job_title), class: "btn btn-primary btn-rounded"
      - if can? :index, JobTitle
        = link_to "All Job Titles", job_titles_path, class: "btn btn-primary btn-rounded"
