.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      - if can? :new, AccountSubType
        = link_to new_account_sub_type_path, class: "btn btn-primary btn-rounded m-sm pull-right" do
          %i.fa.fa-plus{"aria-hidden" => true}
          &nbsp;&nbsp; New Account Sub Type
      .ibox.float-e-margins
        .ibox-title All Account Sub Types
        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  - if can? :show, AccountSubType
                    %th ID
                  %th Account Header
                  %th Name
                  %th Description
                  - if can?(:edit, AccountSubType) || can?(:destroy, AccountSubType)
                    %th Actions
              %tbody
                - @account_sub_types.each do |account_sub_type|
                  %tr{data: { id: account_sub_type.id } }
                    - if can? :show, AccountSubType
                      %td.font-bold= link_to account_sub_type.id, account_sub_type
                    %td
                      %span.label.label-primary= account_sub_type.account_main_type.name
                    %td= account_sub_type.name
                    %td= account_sub_type.description
                    - if can?(:edit, AccountSubType) || can?(:destroy, AccountSubType)
                      %td
                        - if can? :delete, AccountSubType
                          = link_to account_sub_type, method: :delete, remote: true, data: { confirm: "Are you sure to delete this account sub type from database?" }, class: "action-link" do
                            %i.fa.fa-trash{"aria-hidden" => true}
                        - if can? :edit, AccountSubType
                          = link_to edit_account_sub_type_path(account_sub_type), class: "action-link" do
                            %i.fa.fa-pencil{"aria-hidden" => true}
