.middle-box.text-center.loginscreen.animated.fadeInDown
  %div
    %div
      %h1.logo-name LK
    %h3 Welcome to Lakbima
    %p This app helps you complete day to day tasks related to Lakbima Restaurant.
    %p Login to see it in action.
    - if flash && flash[:alert]
      .alert.alert-danger.alert-dismissable
        %button.close{"aria-hidden" => true, data: { dismiss: "alert" }, type: "button"}
          ×
        = flash[:alert]
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-group
        = f.text_field :login, placeholder: "Email", autofocus: true, class: "form-control"
      .form-group
        = f.password_field :password, placeholder: "Password", class: "form-control"
      - if devise_mapping.rememberable?
        .form-group
          %label
            = f.check_box :remember_me
            %i
            Remember me
      = f.submit "Log in", class: "btn btn-primary block full-width m-b"
      = render "devise/shared/links"
      %p.text-muted.text-center
