= form_for role, html: { id: "form", class: "wizard-big form-horizontal", role: "form" } do |f|
  = render "shared/errors", resource: role
  .form-group
    = f.label :name, 'Name *', class: 'col-sm-2 control-label'
    .col-sm-8
      = f.text_field :name, class: 'form-control', required: true
  .form-group
    = f.label :permission_ids, "Select permissions", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :permission_ids, options_for_select(permissions.map { |p| [p.name, p.id] }, @role.permissions.map(&:id)), {}, class: "form-control dual_select", multiple: true, include_blank: false
  .form-group
    .col-sm-4.col-sm-offset-2
      = f.submit "Save Role", class: "btn btn-primary"
      = link_to "Cancel", roles_path, class: "btn btn-primary"
