.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      - if can? :new, LeaveApplication
        = link_to new_leave_application_path, class: "btn btn-primary btn-rounded m-sm pull-right" do
          %i.fa.fa-plus{"aria-hidden" => true}
          &nbsp;&nbsp; New Leave Application
      .ibox.float-e-margins
        .ibox-title 
          .row
            .col-lg-4
              All Leave Applications
            - if current_user.manager?
              .col-lg-4
                .row.pull-right
                  .col-lg-4
                    Filter By applicant:
                  .col-lg-8
                    = select_tag "vacation_type", options_for_select(@applicants.map { |a| [a.full_name, a.id]}.push(["All Applicants","all_applicants"])), {include_blank: 'Select an applicant', class: 'form-control', id: 'leaveApplicationApplicantsDropdown'}
            .col-lg-4.pull-right
              .row.pull-right
                .col-lg-4
                  Filter By Vacation Type: 
                .col-lg-8
                  = select_tag "vacation_type", options_for_select(VacationType.pluck(:name, :id).push(["All Types","all_types"])), {include_blank: 'Select Vacation Type', class: 'form-control', id: 'leaveApplicationVacationTypesDropdown'}

        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-striped.pretty
              %thead
                %tr
                  - if can? :show, LeaveApplication
                    %th= sortable "id", "Leave Application ID"
                  - if current_user.manager?
                    %th Applicant
                  %th= sortable "vacation_type_id", "Vacation Type"
                  %th= sortable "number_of_days"
                  %th= sortable "start_date"
                  %th= sortable "end_date"
                  - unless current_user.manager?
                    %th= sortable "status"
                  - if current_user.manager?
                    %th Actions
              %tbody
                - @leave_applications.each do |leave_application|
                  %tr{data: { id: leave_application.id, applicant_id: leave_application.applicant.try(:id), vacation_type_id: leave_application.vacation_type_id }, class: "leave_applications"}
                    - if can? :show, LeaveApplication
                      %td.font-bold= link_to leave_application.id, leave_application
                    - if current_user.manager?
                      %td= leave_application.applicant.full_name
                    %td
                      %span.badge.badge-info.vacation_type
                        = leave_application.vacation_type.try(:name)
                    %td= leave_application.number_of_days
                    %td= leave_application.start_date
                    - if leave_application.end_date.nil?
                      %td.text-center -
                    - else
                      %td= leave_application.end_date
                    - unless current_user.manager?
                      %td{class: "#{class_decider(leave_application.status)}"}= leave_application.status
                    - if current_user.manager?
                      %td
                        - if leave_application.pending?
                          = link_to "Approve", "", class: "btn btn-sm btn-primary leave-approve", data: { style: "zoom-in", leave_application_id: leave_application.id }
                          = link_to "Deny", "", class: "btn btn-sm btn-danger leave-deny", data: { style: "zoom-in", leave_application_id: leave_application.id }
                        - else
                          - if leave_application.approved?
                            %span.label.label-primary.animted.fadeInDown Approved
                          - else
                            %span.label.label-danger.animted.fadeInDown Denied
