= form_for dynamic_menu, html: { class: "form-horizontal", id: "manageDynamicMenus" } do |f|
  = render "shared/errors", resource: dynamic_menu
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control', id: 'dynamicMenuName'
  .hr-line-dashed
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :from_account_type_ids, 'Choose FROM lists', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :from_account_type_ids, options_for_select(AccountType.pluck(:name, :id), selected: dynamic_menu.from_account_type_ids), {}, class: "form-control", multiple: true, id: "fromAccountTypeSelect"
      %span.help-block.m-b-none
        Note: You can also choose more than one Account List in the section.
  .hr-line-dashed
  .form-group
    = f.label :to_account_type_ids, 'Choose TO lists', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.select :to_account_type_ids, options_for_select(@to_account_types.pluck(:name, :id), selected: dynamic_menu.to_account_type_ids), {}, class: "form-control", multiple: true, id: "toAccountTypeSelect"
      %span.help-block.m-b-none
        Note: You can also choose more than one Account List in the section.
  .hr-line-dashed
  .form-group
    .col-sm-4.col-sm-offset-2
      = f.submit "Save", class: "btn btn-primary"
      = link_to "Cancel", account_types_path, class: "btn btn-primary"
