= form_for vacation_type, html: { class: "form-horizontal" } do |f|
  = render "shared/errors", resource: vacation_type
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :number_of_days, 'Number of Days', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :number_of_days, class: 'form-control'
  .hr-line-dashed
  .form-group
    .col-sm-4.col-sm-offset-2
      = f.submit "Save", class: "btn btn-primary"
