.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h2 Transaction
        .ibox-content
          .col-md-2
            %p.font-bold From Account
          .col-md-10
            %p
              %span.label.label-primary= @transaction.from_account.name
          %br
          .col-md-2
            %p.font-bold To Account
          .col-md-10
            %p
              %span.label.label-primary= @transaction.to_account.name
          %br
          .col-md-2
            %p.font-bold Amount
          .col-md-10
            %p= @transaction.amount
          %br
          .col-md-2
            %p.font-bold Date
          .col-md-10
            %p= @transaction.happened_at
          %br
          .clearfix
  .row
    .col-lg-12
      - if can? :edit, Transaction
        = link_to "Edit", edit_dynamic_menu_transaction_path(@dynamic_menu, @transaction), class: "btn btn-primary btn-rounded"
      - if can? :index, Transaction
        = link_to "All Transactions", dynamic_menu_transactions_path, class: "btn btn-primary btn-rounded"
