%nav.navbar-default.navbar-static-side{role: "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold= current_user.full_name
              %span.text-muted.text-xs.block
                = current_user.role.try(:name)
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              = link_to "Profile", profile_path
            %li
              = link_to "Logout", destroy_user_session_path, method: :delete
        .logo-element
          LK
      - if can?(:index, JournalEntrySession) || can?(:index, JournalEntry)
        %li{class: "#{'active' if %w(journal_entry_sessions journal_entries accounts account_main_types account_sub_types account_types dynamic_menus).include? controller_name}"}
          = link_to '#' do
            %i.fa.fa-area-chart
            %span.nav-label Finance
            %span.fa.arrow
          %ul.nav.nav-second-level.collapse
            - if can? :index, AccountMainType
              %li{class: "#{'active' if controller_name == 'account_main_types' }"}
                = link_to "Header Accounts", account_main_types_path
            - if can? :index, AccountSubType
              %li{class: "#{'active' if controller_name == 'account_sub_types' }"}
                = link_to "Sub Headers", account_sub_types_path
            - if can? :index, AccountType
              %li{class: "#{'active' if controller_name == 'account_types' }"}
                = link_to "Account Lists", account_types_path
            - if can? :index, Account
              %li{class: "#{'active' if controller_name == 'accounts' }"}
                = link_to "Chart of Accounts", accounts_path
            - if can? :create, JournalEntrySession
              %li{class: "#{'active' if controller_name == 'journal_entry_sessions' || controller_name == 'journal_entries'}"}
                - if current_user.has_active_journal_entry_session?
                  = link_to "Add Journal Entries", journal_entry_session_journal_entries_path(current_user.active_journal_entry_session)
                - else
                  = link_to "Add Journal Entries", root_path
            - if can? :index, DynamicMenu
              %li{class: "#{'active' if controller_name == 'dynamic_menus' }"}
                = link_to "Dynamic Menus", dynamic_menus_path
        %li{class: "#{'active' if controller_name == 'transactions'}"}
          = link_to '#' do
            %i.fa.fa-database
            %span.nav-label Transactions
            %span.fa.arrow
          %ul.nav.nav-second-level
            - DynamicMenu.all.each do |dynamic_menu|
              %li{class: "#{'active' if dynamic_menu.id == params[:dynamic_menu_id].to_i}"}
                = link_to dynamic_menu.name, new_dynamic_menu_transaction_path(dynamic_menu)
      - if can? :index, LeaveApplication
        %li{class: "#{'active' if controller_name == 'leave_applications'}"}
          = link_to leave_applications_path do
            %i.fa.fa-bed
            %span.nav-label Leave Applications
      - if can? :index, Employee
        %li{class: "#{'active' if controller_name == 'employees' }"}
          = link_to employees_path do
            %i.fa.fa-male
            %span.nav-label Employee Section
      - if can?(:index, Department) || can?(:index, JobTitle) || can?(:index, Currency) || can?(:index, AllowanceType) || can?(:index, VacationType) || can?(:index, AttachmentType) || can?(:index, Role)
        %li{class: "#{'active' if %w(departments job_titles currencies allowance_types vacation_types attachment_types roles).include? controller_name}"}
          = link_to '#' do
            %i.fa.fa-cogs
            %span.nav-label Settings
            %span.fa.arrow
          %ul.nav.nav-second-level
            - if can? :index, Department
              %li{class: "#{'active' if controller_name == 'departments'}"}
                = link_to "Departments", departments_path
            - if can? :index, JobTitle
              %li{class: "#{'active' if controller_name == 'job_titles'}"}
                = link_to "Manage Job Titles", job_titles_path
            - if can? :index, Currency
              %li{class: "#{'active' if controller_name == 'currencies'}"}
                = link_to "Currencies", currencies_path
            - if can? :index, AllowanceType
              %li{class: "#{'active' if controller_name == 'allowance_types'}"}
                = link_to "Allowance Types", allowance_types_path
            - if can? :index, VacationType
              %li{class: "#{'active' if controller_name == 'vacation_types'}"}
                = link_to "Vacation Types", vacation_types_path
            - if can? :index, AttachmentType
              %li{class: "#{'active' if controller_name == 'attachment_types'}"}
                = link_to "Attachment Types", attachment_types_path
            - if can? :index, Role
              %li{class: "#{'active' if controller_name == 'roles'}"}
                = link_to "Roles", roles_path
            - if can? :index, Branch
              %li{class: "#{'active' if controller_name == 'branches'}"}
                = link_to "Manage Branches", branches_path
