%nav.navbar-default.navbar-static-side{:role => "navigation"}
  .sidebar-collapse
    %ul#side-menu.nav.metismenu
      %li.nav-header
        .dropdown.profile-element
          = link_to "#", class: "dropdown-toggle", data: { toggle: "dropdown" } do
            %span.clear
              %span.block.m-t-xs
                %strong.font-bold= current_user.full_name
              %span.text-muted.text-xs.block
                = current_user.role.try(:name)
                %b.caret
          %ul.dropdown-menu.animated.fadeInRight.m-t-xs
            %li
              = link_to "Logout", destroy_user_session_path, :method => :delete
        .logo-element
          LK
      %li{class: "#{'active' if controller_name == 'employees' }"}
        = link_to employees_path do
          %i.fa.fa-male
          %span.nav-label Employee Section
      %li{class: "#{'active' if controller_name == 'roles' }"}
        = link_to roles_path do
          %i.fa.fa-briefcase
          %span.nav-label Manage Roles
      %li{:class => "#{'active' if current_page?('/')}"}
        = link_to "/" do
          %i.fa.fa-laptop
          %span.nav-label Main page
      %li{:class => "#{'active' if current_page?('/home/minor')}"}
        = link_to "/home/minor" do
          %i.fa.fa-desktop
          %span.nav-label Minor page
