= link_to '#', style: "padding: 0px;" do
  %li{id: "notification#{notification.id}"}
    .dropdown-messages-box
      - if notification.applicant?
        .pull-left.p-xxs
          - if notification.generator.profile_image
            = image_tag notification.generator.profile_image.image.url(:thumb), class: "img-circle"
          - else
            = image_tag "no-user-image.gif", class: "img-circle"
        .media-body.p-xxs
          = link_to notification.leave_application, class: "notification-link" do
            %strong
              = notification.generator.try(:full_name_with_role)
            = notification.content
          %br
          %small.text-muted
            = time_ago_in_words(notification.created_at) + " ago at "
            = notification.created_at.strftime("%l:%M %p - %d.%m.%Y")
      - elsif notification.action?
        .pull-left.p-xxs
          - if notification.generator.profile_image
            = image_tag notification.generator.profile_image.image.url(:thumb), class: "img-circle"
          - else
            = image_tag "no-user-image.gif", class: "img-circle"
        .media-body.p-xxs
          = link_to notifications_path, class: "notification-link" do
            = notification.content + " by "
            %strong
              = notification.generator.try(:full_name_with_role)+"."
          %br
          %small.text-muted
            = time_ago_in_words(notification.created_at) + " ago at "
            = notification.created_at.strftime("%l:%M %p - %d.%m.%Y")
  %li.divider{id: "divider#{notification.id}"}
