= form_for account, html: { class: "form-horizontal", id: "accountsForm" } do |f|
  = render "shared/errors", resource: account
  .form-group
    = f.label :account_id, 'Account ID', class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :account_id, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .form-group
    .col-sm-4.col-sm-offset-2
      = f.submit "Save", class: "btn btn-primary"
      = link_to "Cancel", accounts_path, class: "btn btn-primary"
