= form_for account, html: { class: "form-horizontal", id: "accountsForm" } do |f|
  = render "shared/errors", resource: account
  .form-group
    = label_tag :account_header, "Account Header", class: "col-sm-2 control-label"
    .col-sm-10
      = select_tag :account_header, options_for_select(AccountMainType.all.map { |a| [a.name, a.id] }, selected: @account_main_type.try(:id)), class: "form-control", id: "accountHeaderSelectTag", prompt: "Please choose account header."
  .hr-line-dashed
  .form-group
    = f.label :acount_sub_type_id, "Sub Category", class: "col-sm-2 control-label"
    .col-sm-10
      - if account.new_record?
        = select_tag :account_sub_type_id, options_for_select(["",""]), class: "form-control", id: "accountSubTypeSelectTag", disabled: true, include_blank: true
      - else
        = select_tag :account_sub_type_id, options_for_select((@account_main_type && @account_main_type.account_sub_types.map { |a| [a.name, a.id] }) || AccountSubType.all.map { |a| [a.name, a.id] }, selected: @account_sub_type.try(:id)), class: "form-control", id: "accountSubTypeSelectTag", prompt: "Please choose account sub header."
  .hr-line-dashed
  .form-group
    = f.label :account_type_id, "Account List", class: "col-sm-2 control-label"
    .col-sm-10
      - if account.new_record?
        = f.select :account_type_id, ["",""], {}, class: "form-control", id: "accountTypeSelectTag", disabled: true
      - else
        = f.select :account_type_id, (@account_type && @account_sub_type.account_types.map { |a| [a.name, a.id]  }) || AccountType.all.map { |a| [a.name, a.id] }, { selected: account.account_type_id, prompt: "Please choose account list." }, class: "form-control", id: "accountTypeSelectTag"
  .hr-line-dashed
  .form-group
    = f.label :name, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_field :name, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :description, class: 'col-sm-2 control-label'
    .col-sm-10
      = f.text_area :description, class: 'form-control'
  .hr-line-dashed
  .form-group
    = f.label :balance, "Opening Balance", class: 'col-sm-2 control-label'
    .col-sm-10
      = f.number_field :balance, class: 'form-control', step: 0.5
  .form-group
    .col-sm-4.col-sm-offset-2
      = f.submit "Save", class: "btn btn-primary"
      = link_to "Cancel", accounts_path, class: "btn btn-primary"
