.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      - if can? :new, Account
        = link_to new_account_path, class: "btn btn-primary btn-rounded m-sm pull-right" do
          %i.fa.fa-plus{"aria-hidden" => true}
          &nbsp;&nbsp; New Account
      .ibox.float-e-margins
        .ibox-title All Accounts
        .ibox-content
          .table-responsive
            %table.table.table-bordered.table-striped
              %thead
                %tr
                  - if can? :show, Account
                    %th Account ID
                  %th Name
                  %th Description
                  - if can?(:edit, Account) || can?(:destroy, Account)
                    %th Actions
              %tbody
                - @accounts.each do |account|
                  %tr{data: { id: account.id } }
                    - if can? :show, Account
                      %td.font-bold= link_to account.account_id, account
                    %td= account.name
                    %td= account.description
                    - if can?(:edit, Account) || can?(:destroy, Account)
                      %td
                        - if can? :delete, Account
                          = link_to account, method: :delete, remote: true, data: { confirm: "Are you sure to delete this account from database?" }, class: "action-link" do
                            %i.fa.fa-trash{"aria-hidden" => true}
                        - if can? :edit, Account
                          = link_to edit_account_path(account), class: "action-link" do
                            %i.fa.fa-pencil{"aria-hidden" => true}
