.wrapper.wrapper-content.animated.fadeInRight
  .row
    .col-lg-12
      .ibox.float-e-margins
        .ibox-title
          %h2=@account.name
        .ibox-content
          .col-md-2
            %p.font-bold Account Header
          .col-md-10
            %p
              %span.label.label-primary= @account.account_main_type.try(:name)
          %br
          .col-md-2
            %p.font-bold Account Sub Type
          .col-md-10
            %p
              %span.label.label-primary= @account.account_sub_type.try(:name)
          %br
          .col-md-2
            %p.font-bold Name
          .col-md-10
            %p= @account.name
          %br
          .col-md-2
            %p.font-bold Description
          .col-md-10
            %p= @account.description
          %br
          .col-md-2
            %p.font-bold Balance
          .col-md-10
            %p= @account.balance.to_s
          %br
          .clearfix
  .row
    .col-lg-12
      - if can? :edit, Account
        = link_to "Edit", edit_account_path(@account), class: "btn btn-primary btn-rounded"
      - if can? :index, Account
        = link_to "All Accounts", accounts_path, class: "btn btn-primary btn-rounded"
